* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

#video-stage {
  width: 100vw;
  height: 100vh;
  background: black;
}

#videoPlayer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: black;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
