/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TOTAL DARKNESS */
body {
  background: black;
  overflow: hidden;
}

/* FULLSCREEN VIDEO */
#intro-wrapper {
  position: fixed;
  inset: 0;
  background: black;
}

#intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transition: opacity 2s ease;
}
